<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        hello, {{ content }} {{hei }}
        <span>{{ text }}</span>
        {{ content }}
        <br>
        <p>fdsfsadfsdjljl</p>
        {{ arr1 }}
        <input type="" v-model='obj.x' />
        {{ obj.x }}
        <ul>
            <li v-for='(item,index) in arr2'>{{ item.age }}</li>
        </ul>
    </div>

    <script type='module'>
        import Due from './core/index.js';

        window.due = new Due({
            el: 'app',
            data: {
                content: 'world',
                text: 'ccccccccccccc',
                obj: {
                    x: 10,
                    y: 10,
                },
                arr1: [1, 2],
                arr2: [
                    {
                        age: 18
                    }
                ]
            }
        });
    </script>
</body>
</html>